.navbar_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar_content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}
.navbar_opt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}